<?xml version="1.0" encoding="utf-8"?>
<manifest package="rikka.searchbyimage"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".SearchByImageApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.UploadActivity"
            android:label="@string/share_action_name"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WebViewActivity"
            android:theme="@style/AppTheme.WebViewActivity"/>
        <activity android:name=".ui.ResultActivity"/>
        <activity android:name=".ui.ChromeCustomTabsActivity"/>
        <activity
            android:name=".ui.PopupSettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/PopupTheme"/>
        <activity
            android:name=".ui.SendReportActivity"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="rikka.searchbyimage.SEND_LOG"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EditSitesActivity"
            android:label="@string/edit_sites"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.EditSiteInfoActivity"
            android:label="@string/edit_site"
            android:theme="@style/AppTheme.UseColorControlActivated"
            android:windowSoftInputMode="adjustResize"/>

        <receiver android:name=".receiver.ShareBroadcastReceiver"/>
        <receiver
            android:name=".receiver.UploadMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rikka.searchbyimage2.intent_action_retry"/>
                <action android:name="rikka.searchbyimage2.intent_action_success"/>
                <action android:name="rikka.searchbyimage2.intent_action_error"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.UploadService"/>

    </application>

</manifest>
