<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rikka.searchbyimage">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".SearchByImageApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.UploadActivity"
            android:label="@string/share_action_name"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".ui.ResultActivity" />
        <activity android:name=".ui.ChromeCustomTabsActivity" />
        <activity
            android:name=".ui.PopupSettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".ui.SendReportActivity"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="rikka.searchbyimage.SEND_LOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.EditSitesActivity"
                  android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/edit_sites"/>
        <activity android:name=".ui.EditSiteInfoActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.UseColorControlActivated"
            android:label="@string/edit_site"/>

        <receiver android:name=".receiver.ShareBroadcastReceiver" />

    </application>

</manifest>
